@model PM.Models.Models.ProductViewModel

@{
    ViewBag.Title = "Add Product";
}


<div class="pt-5">
    <h2 class="text-center">Add New Product</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card card-body">
                    @using (Html.BeginForm(Html.BeginForm("Add_Product", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_Name)
                            <div>
                                @Html.EditorFor(model => model.P_Name, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @Html.ValidationMessageFor(model => model.P_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_Category)
                            <div>
                                @Html.EditorFor(model => model.P_Category, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @*@Html.DropDownListFor(m => m.P_Category, new SelectList(Enum.GetValues(typeof(Category))), "Select Category", new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(model => model.P_Category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_Price)
                            <div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                    @Html.EditorFor(model => model.P_Price, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.P_Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_Quantity)
                            <div>
                                @Html.EditorFor(model => model.P_Quantity, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @Html.ValidationMessageFor(model => model.P_Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_Srt_Desc)
                            <div>
                                @Html.EditorFor(model => model.P_Srt_Desc, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @Html.ValidationMessageFor(model => model.P_Srt_Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_Lng_Desc)
                            <div>
                                @Html.EditorFor(model => model.P_Lng_Desc, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @Html.ValidationMessageFor(model => model.P_Lng_Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_sm_img_path)
                            <div>
                                <input type="file" name="smImg" class="btn btn-info" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.P_lg_img_path)
                            <div>
                                <input type="file" name="lgImg" class="btn btn-info" />
                            </div>
                        </div>

                        <div class="form-group pt-1">
                            <button type="submit" class="btn btn-primary btn-block mw-100"><i class="fa fa-plus"></i>  Add Product</button>
                        </div>
                    }

                    <p class="small-xl pt-3 text-center">
                        <span class="text-muted">See </span>
                        @Html.ActionLink("Product List", "Product_List", new { controller = "Product" }, new { @class = "text-decoration-none" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>